{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Restablecer Contraseña - Agenda Personal{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-header bg-info text-white"> {# Cambié a bg-info para diferenciar #}
                <h2 class="card-title mb-0 text-center">Restablecer Contraseña</h2>
            </div>
            <div class="card-body">
                <p class="text-muted text-center">Ingresa tu dirección de correo electrónico y te enviaremos instrucciones para establecer una nueva contraseña.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">Enviar Email de Restablecimiento</button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                   <p><a href="{% url 'account_login' %}">Volver a Iniciar Sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}